.container {
   width: 350px;
   padding: 5px 10px;
}

.slug-preview {
   width: 300px;
   border: 1px solid #000;
   padding: 5px;
   background-color: #d1d1d1;
}

button {
   padding: 10px;
   height: 40px;
   font-size: 18px;
}

.section {
   margin-bottom: 30px;
}

.extract-button {
   display: block;
}
